# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  schedule:
    - cron: '0 0/12 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: matrics1
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

          # Options
          filename: metrics2.svg
          user: trasta298
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          config_twemoji: yes
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 30
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_indepth: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 10
          plugin_languages_sections: recently-used, most-used
          plugin_languages_ignored: html
          plugin_languages_recent_load: 1000
          plugin_languages_recent_days: 365
          commits_authoring: trasta298@gmail.com, trasta, trasta298

      - name: metrics2
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

          # Options
          filename: achievements3.svg
          user: trasta298
          base: header
          config_timezone: Asia/Tokyo
          config_twemoji: yes
          plugin_introduction: yes
          plugin_introduction_title: yes

      - name: metrics3
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

          # Options
          filename: anilist2.svg
          user: trasta298
          base: ""
          config_timezone: Asia/Tokyo
          config_twemoji: yes
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: characters, favorites
          plugin_anilist_limit: 3
          plugin_anilist_shuffle: yes
          plugin_anilist_user: .user.login
